<div class="header">
  <div class="header__profile">
    <div class="header__profile--picture"></div>
    <h3> <%= @user[:username] %> </h3>
  </div>
</div>

<div class="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <p class="post__content"><%= post.content %></p>
      <div class="post__footer">
        <p class="post__weather--text"><%= post.weather_description %></p>
        <p class="post__footer--time"><%= post.created_at.strftime '%l:%M %P – %a, %d/%m/%Y' %></p>
        <p class="post__footer--city"><%= post.city %></p>
      </div>
    </div>
  <% end %>  
</div>

<script>

  
  let offset = 10

  fetchMoreUserPosts = (e) => {
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
      window.removeEventListener('scroll', fetchMoreUserPosts)
                console.log(event)
      fetch(`/user_posts/<%= @user[:id] %>?offset=${offset}`)
        .then(function(response) {
          return response.json()
        })
        .then(function(response) {
          appendMorePosts(response)
          offset = offset + 10
          window.addEventListener('scroll', fetchMoreUserPosts)
        })
    }
  }

  window.addEventListener('scroll', fetchMoreUserPosts)

  appendMorePosts = new_posts => {
    const posts = document.querySelector('.posts')
    new_posts.forEach(response => {
      const postDiv = document.createElement('div')
      postDiv.className = 'post'
      postDiv.innerHTML = `
        <p class="post__content">${response.content}</p>
          <div class="post__weather">
              <span class="post__weather--icon"><i class="fas fa-sun"></i></span><p class="post__weather--text">${response.weather_description}</p>
          </div>
          <div class="post__footer">
            <p class="post__footer--time">${formatDate(response.created_at)}</p>
            <p class="post__footer--city">${response.city}</p>
          </div>
        </div>
      `
      posts.appendChild(postDiv)  
    })
  }

</script>
