<div class="header">
  <div class="header__profile">
    <div class="header__profile--picture"></div>
    <h3> <%= @user[:username] %> </h3>
  </div>
  
  <% if logged_in? && current_user.id === @user[:id] %>  
    <%= form_tag posts_path, method: 'post', class: 'post-form' do %>
      <%= text_field 'content', nil, placeholder: 'Write something...', class: 'post-form__input'  %>
      <%= submit_tag 'Post', id: 'new_post' %>
    <% end %>

    <%= form_tag sessions_path, method: 'delete', class: 'logout-form', name: 'logout-form' do %>
      <%= submit_tag 'Logout', id: 'Logout' %>
    <% end %>  
  <% end %>
</div>

<div class="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <p class="post__content"><%= post.content %></p>
      <div class="post__footer">
        <p class="post__weather--text"><%= post.weather_description %></p>
        <p class="post__footer--time"><%= post.created_at.strftime '%l:%M %P – %a, %d/%m/%Y' %></p>
        <p class="post__footer--city"><%= post.city %></p>
      </div>
    </div>
  <% end %>  
</div>

<script>  
  let offset = 10
  const user_id = '<%= @user[:id] %>'
  window.addEventListener('scroll', (e) => {fetchMoreUserPosts(e, user_id) })
</script>
