<div class="header">
  <h3> <%= @user[:username] %> </h3>

  <%= form_tag posts_path, method: 'post', class: 'post-form' do %>
    <%= text_field 'content', nil, placeholder: 'Write something...', class: 'post-form__input'  %>
    <%= submit_tag 'Post', id: 'new_post' %>
  <% end %>

  <%= form_tag sessions_path, method: 'delete', class: 'logout-form', name: 'logout-form' do %>
    <%= submit_tag 'Logout', id: 'Logout' %>
  <% end %>  
</div>

<div class="posts">
  <% @user[:posts].each do |post| %>
    <div class="post">
      <p class="post__content"><%= post.content %></p>
      <div class="post__weather">
          <span class="post__weather--icon"><i class="far fa-sun"></i></span><p class="post__weather--text"><%= post.weather_description %></p>
      </div>
      <div class="post__footer">
        <p class="post__footer--time"><%= post.created_at.strftime '%l:%M %P – %A, %d/%m/%Y' %></p>
        <p class="post__footer--city"><%= post.city %></p>
      </div>
    </div>
  <% end %>  
</div>

<script>
  document.querySelector('#new_post').addEventListener('click', postMemory)
  postMemoryByGPS = (position, content) => {
    let { coords } = position
      fetch(`/posts?lat=${coords.latitude}&lon=${coords.longitude}&content=${content}`,
    {
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
        "X-CSRF-Token": "<%= form_authenticity_token %>",
      },
      method: "POST",
      body: JSON.stringify(position)
    })
    .then(res => res.json())
    .then(res => {console.log(res); appendNewPost(res)})
    .catch(function(res){ console.log(res) })
  }
  postMemoryByIp = (content) => {
    content
      fetch(`/post_by_ip?content=${content}`,
    {
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json',
        "X-CSRF-Token": "<%= form_authenticity_token %>",
      },
      method: "POST",
    })
    .then(res => res.json())
    .then(res => {console.log(res); appendNewPost(res)})
    .catch(function(res){ console.log(res) })
  }
</script>
